.survey{
    margin: 100px auto;
    width: 400px;
    height: 300px;
    border: 3px solid black;
    padding: 30px 50px;
}
.name,.location,.language,.comment{
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    margin-bottom: 10px;
}
button{
    margin-top: 10px;
    background-color: darkcyan;
    color: white;
    box-shadow: 3px 3px black;
}