<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- my css -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>View</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="d-flex align-items-center justify-content-between mx-5">
                <h1>Welcome</h1>
                <div>
                    <a href="/">dashboard</a>
                    <a class="text-danger"href="/user/logout">Logout</a>
                </div>
            </div>
        </div>
        <div class="row">
            <form action="/recipe/{{recipe.id}}">
                <div class="mb-3">
                    <h3>{{recipe.name}}</h3>
                    <h3>Posted by: {{first_name}}</h3>
                </div>
                <div class="mb-3">
                    <label for="description">Description:</label>
                    <h3>{{recipe.description}}</h3>
                </div>
                <div class="mb-3">
                    <label for="under_30">Under 30 Minutes?</label>
                    {% if recipe.under_30 == 1 %}
                    <h3>Yes</h3>
                    {% endif %}
                    {% if recipe.under_30 == 0 %}
                    <h3>No</h3>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="instructions">Instructions:</label>
                    <h3>{{recipe.instructions}}</h3>
                </div>
                <div class="mb-3">
                    <label for="data_cooked">Date Made:</label>
                    <h3>{{recipe.data_cooked}}</h3>
                </div>
            </form>
        </div>
    </div>
    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <!-- my js -->
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>

