<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Movie!</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="d-flex align-items-center justify-content-between mx-5">
                <h1>Add a Movie!</h1>
                <div>
                    <a href="/">Home</a>
                    <a class="text-danger"href="/user/logout">Logout</a>
                </div>
            </div>
        </div>
        <div class="row">
            <form action="/movie/create" method="post">
                <div class="mb-3">
                    <label for="title">Title:</label>
                    <input class="form-control" type="text" name="title" id="title">
                    {% for message in get_flashed_messages(category_filter=["err_movies_title"]) %}
                    <p class="alert alert-danger">{{message}}</p>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <label for="date">Release Date:</label>
                    <input type="date" name="date" id="date">
                    {% for message in get_flashed_messages(category_filter=["err_movies_date"]) %}
                    <p class="alert alert-danger">{{message}}</p>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <label for="description">Description:</label>
                    <textarea class="form-control" name="description" id="description" cols="30" rows="10"></textarea>
                    {% for message in get_flashed_messages(category_filter=["err_movies_description"]) %}
                    <p class="alert alert-danger">{{message}}</p>
                    {% endfor %}
                </div>
                <button class="btn btn-success">Add</button>
            </form>
        </div>
    </div>
    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>

